# Server Configuration
PORT=3000
SECRET_KEY=your_super_secret_key_here

# Cloud Database Connection String
# Example for MongoDB Atlas: mongodb+srv://user:password@cluster.mongodb.net/dbname
MONGODB_URI=your_mongodb_connection_string_here
